<nav>
  <h1 class="nav-title">Kanban</h1>
  <h3 class="nav-name">Board Name</h3>
</nav>
<div cdkDropListGroup class="box">
  <div class="example-container">
    <h2>Ideas</h2>

    <div
      cdkDropList
      [cdkDropListData]="ideas"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of ideas" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Research</h2>

    <div
      cdkDropList
      [cdkDropListData]="research"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of research" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>