.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;

    .sidebar{
        border-right: thin solid darkgray;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 0 0.5rem;


        h3:hover{
            cursor: pointer;
            border: thin solid white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 0.5rem;
            box-sizing: border-box;
        }
    }

    .content{
        padding: 1rem;
    }
}