<main class="container">
  <div class="sidebar">
    <h3 (mouseover)="first = true" (mouseout)="first = false">
      <i class="bi bi-bookmark"></i> This is a first item
    </h3>
    <h3 (mouseover)="second = true" (mouseout)="second = false">
      <i class="bi bi-bookmark"></i> This is a second item
    </h3>
    <h3 (mouseover)="third = true" (mouseout)="third = false">
      <i class="bi bi-bookmark"></i> This is a third item
    </h3>
  </div>

  <div class="content">
    <h1 *ngIf="first">Content of First item</h1>
    <h1 *ngIf="second">Content of Second item</h1>
    <h1 *ngIf="third">Content of Third item</h1>
  </div>
</main>
